.post {
    margin: 2rem;
    border: 1px solid #000;
}
.post-title {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #000;
    margin: 2rem;
}
.post-title h2,span{
    margin: 0;
    padding: 1rem;
}
.post-content {
    border: 1px solid #000;
    margin: 2rem;
    padding: 1rem;
}