.myNav {
    min-height: 3rem;
}
.navDrop {
    margin: 5px !important;
}
.myMain {
    margin-top: 2rem;
}
.sign-form {
    max-width: 300px;
}
.sign-form .sign-err{
    font-size: small;
    font-weight: 600;
    color: red;
}